<div class= "container">
  <div class="row">
    <div class="col-lg-1">
        <p>Column #1</p>
      </div>
      <div class="col-lg-1">
        <p>Column #2</p>
      </div>
      <div class="col-lg-1">
        <p>Column #3</p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
        <p>Column #4</p>
      </div>
      <div class="col-lg-1">
        <p>Column #5</p>
      </div>
      <div class="col-lg-1">
        <p>Column #6</p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
        <p>Column #7</p>
      </div>
      <div class="col-lg-1">
        <p>Column #8</p>
      </div>
      <div class="col-lg-1">
        <p>Column #9</p>
      </div>
  </div>
</div>
